<div class="panel panel-default">

    <div class="panel-heading">
        <f:if condition="{data.header}">
            <h3 class="panel-title">{data.header}</h3>
        </f:if>
    </div>
    <div class="panel-body">
        <f:if condition="{data.tx_mask_services}">
            <ul class="list-group">
                <f:for each="{data.tx_mask_services}" as="data_item">
                    <li class="list-group-item">
                        {data_item.tx_mask_serv}
                    </li>
                </f:for>
            </ul>
        </f:if>
    </div>
    <div class="panel-footer">
        <f:if condition="{data.tx_mask_price}">
            <h3>{data.tx_mask_price}</h3>
        </f:if>
        <f:link.page pageUid="4" class="btn btn-primary big-button">Book Now</f:link.page>
    </div>


</div>