<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <f:link.page pageUid="1" class="navbar-brand">Car Workshop</f:link.page>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <f:for each="{mainnavigation}" as="navItem">
                    <li class="nav-item {f:if(condition: navItem.active, then:'active')}">
                        <a class="nav-link" href="{navItem.link}" target="{navItem.target}" title="{navItem.title}">
                            {navItem.title}
                        </a>
                    </li>
                </f:for>
            </ul>
        </div>
    </nav>
</header>